body{
margin:0;
font-family:Arial, sans-serif;
background:radial-gradient(circle at top,#f4d6f2,#ececec);
min-height:100vh;
display:flex;
flex-direction:column;
}

.header{
background:#d87bd3;
color:white;
padding:20px 40px;
display:flex;
justify-content:space-between;
align-items:center;
box-shadow:0 4px 10px rgba(0,0,0,.2);
}

.container{
display:flex;
flex-wrap:wrap;
justify-content:center;
gap:20px;
padding:20px;
}

.produto{
width:100%;
max-width:250px;
background:#d87bd3;
border-radius:12px;
padding:15px;
text-align:center;
box-shadow:0 8px 20px rgba(0,0,0,.15);
transition:.3s;
}

.produto img{
width:100%;
height:250px;
object-fit:cover;
border-radius:10px;
}

.nomeProduto{
color:white;
font-size:22px;
}

.preco{
font-size:22px;
font-weight:bold;
}

.botao{
background:#25D366;
color:white;
border:none;
padding:10px 15px;
border-radius:5px;
cursor:pointer;
}

.whatsapp-fixo{
position:fixed;
bottom:100px;
right:25px;
width:60px;
height:60px;
background:#25D366;
color:white;
border-radius:50%;
display:flex;
justify-content:center;
align-items:center;
font-size:30px;
text-decoration:none;
box-shadow:0 6px 15px rgba(0,0,0,.3);
}

#carrinhoPreview{
position:fixed;
top:80px;
right:20px;
width:260px;
background:white;
padding:20px;
border-radius:10px;
box-shadow:0 8px 20px rgba(0,0,0,0.2);
display:none;
}

#carrinhoPreview.ativo{
display:block;
}

.footer{
background:#111;
color:white;
text-align:center;
padding:20px;
margin-top:auto;
}

.redes{
display:flex;
justify-content:center;
gap:20px;
}

.redes a{
color:white;
font-size:22px;
}
